*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a :focus, a :active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}
img {max-width: 100%;height: auto;}

body {
    font-family: 'SF Pro Display', sans-serif;
    color: #000;
}

.wrapper { 
    height: auto;
}
.container { 
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header { 
    width: 100%;
    display: flex;
    justify-content: center;
}
.header__logo { 
    margin: 113px 0 75px 0;
}
.lot_title { 
    text-align: center;
    font-size: 71.4px;
    line-height: 1.2;
    font-weight: 600;
}
.lot1_images { 
    display: flex;
    justify-content: center;
}
.lot2_title { 
    margin-bottom: 150px;
}
.lot2_images { 
    background-color: #f7f7f7;
}
.lot3 { 
    margin: 180px 0 120px 0;
}
.character__container { 
    padding: 135px 10px 145px;
}
.character__title { 
    margin-bottom: 95px;
}
.character__text { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.character__left p,
.character__right p { 
    font-size: 25.3px;
    line-height: 1.2;
}
.character__line { 
    width: 40%;
    height: 1px;
    background-color: #000;
    margin: 45px 0;
}
.character__right { 
    margin: 0 0 0 90px;
}